server:
  port: 8080
  context-path: /springboot
  
girl:
  name: B
  age: 18

spring:
  profiles:
    active: prod
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/test2
    username: root
    password: root
    
  jpa:
    hibernate:
      ddl-auto: update  # 第一次简表create  后面用update
      show-sql: true
  redis:
       host:localhost
       port:6379
       database:1
     
mybatis:
   mapper-locations:
       classpath:mapping/*.xml
       
#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: true
    supportMethodsArguments: true
    params: count=countSql       
       